main {
  margin-top: 107px;
  justify-content: center;
  align-items: center;
}

.carrossel-container {
  position: relative;
  padding: 20px;
  margin: auto;
  margin-bottom: 100px;
  max-width: 1070px;
}

.galeria {  
  display: flex;
  flex-flow: row nowrap;
}
.galeria-wrapper {
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: hidden;
} 

.arrow-left, .arrow-right {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 20px;
  line-height: 250px;
  width: 40px;
  text-align: center;
  cursor: pointer;
  border: 0;
  background-color: #fff;
}

.arrow-right {
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  bottom: 0;
}

.item {
  width: 100%;
  height: 380px;
  flex-shrink: 0;
}

.banner {
  display: flex;
  justify-content: center;
  max-width: 1190px;
  margin: auto;
}

.banner img {
  width: 100%;
}

body {
  margin-top: 8px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}


nav {
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}

nav div img{
  /* padding-left: 160px; */
  height: 120px;

}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  color: #000000;
  opacity: 0.7;
  justify-content: space-around;
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;

}

nav ul a {
  justify-content: space-between;
  padding: 17px; 
  text-decoration: none;
  color: #000000;
}

.pontocarrinho {
  display: flex;
  padding-top: 100px;
}

.traco {
  display: flex;
}

.traco-loja {
  display: flex;
  width: 100%;
}

.traco-persona {
  display: flex;
  margin-left: 4px;
}

.negrito {
  font-weight: bold;
  color: #F4A340;
}

.quadros-sobre {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  list-style: none;
  padding-inline-start: 0;
  justify-content: flex-end;

}

  .quadros {
  display: flex;
  flex-direction: row-reverse;
  padding-left: 269px;
  max-width: 1373px;
  height: auto;

}

.credito {
  display: flex;
  margin-top: 45px;
  flex-direction: column;
  font-family: 'Fira Sans', sans-serif;
  
}

.creditos-pessoas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 311px;
}

.h1-sobre {
  display: flex;
  color: #F4A340;
  font-size: 25px;
  justify-content: center;
  font-family: 'Fira Sans', sans-serif;
}

.sobrenos {
  display: flex;
  margin-bottom: auto;
  font-family: 'Fira Sans', sans-serif;
  justify-content: center;
  align-items: center;
}


footer {
  width: 100%;
  height: auto;
  background: #F4A340;
}

footer .boxs {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 30px; 
  
}

.boxs h2 {

  color: #fff;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: 'Antonio';
  
}

.boxs ul li {
  margin: 10px 0px;
  list-style: none;
  font-size: 16px;
  font-family: 'Antonio';
}

.boxs ul li a {
  color: #fff;
  text-decoration: none;
}

.boxs ul li a:hover {

  color: #d9d9d9;
}
.redes-sociais{
  max-width: 1400px;
  display: flex;
  justify-content: end;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}
.suporte1 {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 30px;
  height: 30px;
  
}
.linkedin{
  position: fixed;
  bottom: 95px;
  right: 54px;
  width: 20px;
  height: 20px;
}
.pinterest{
  position: fixed;
  bottom: 130px;
  right: 50px;
  width: 30px;
  height: 30px;

  border-radius: 100%;
  border: 0px;
}
.youtube{
  position: fixed;
  bottom: 165px;
  right: 50px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 0px;
}
.tiktok{
  position: fixed;
  bottom: 200px;
  right: 50px;
  width: 30px;
  height: 30px;

  border-radius: 100%;
  border: 0px;
}
.line {
  display: flex;
  justify-content: center ;
  height: 133px;
  padding-top: 1px;
  padding-left: 38px;
  padding-right: 66px ;
}

.logoFooter {
  display: flex;
  padding: 10px 50px;
  width: auto;
  height: auto;
  justify-content: space-between;
}

.logoFooter img {
  padding: 0px 20px;
}

@media (max-width: 820px) {
  .line {
    display: none;
  }
}

