


nav {
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  
  flex-wrap: wrap;
}

nav div img{
  padding-left: 160px;
  height: 120px;

}

nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: #FC8C04;
  justify-content: space-around;
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  padding-right: 151px;

}

nav ul li {
  justify-content: space-between;
  padding: 17px;

  
}